@using NoteSandbax.ViewModels
@model MainViewViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="text-center flex text-5xl my-4 tooltip tooltip-bottom tooltip-error" data-tip="Doesn't this graphic remind you of the good ole days when we all still used Myspace">
    <img src="http://malagasang3es.weebly.com/uploads/8/7/8/9/87899022/source_orig.gif" width="400px" class="text-center p-4 mx-auto" />
</div>

<div class=" border bg-base-300 p-4">
    <table class="table mx-auto p-4">
        <!-- head -->
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
               @* <th>Body</th>*@
                <th><a class="btn btn-sm" onclick="loadCreate()" >Add Note</a> </th>
            </tr>
        </thead>
        <tbody>
           

            @foreach (var item in Model.notes)
            {
                <tr>
                    <th>@Html.DisplayFor(modelItem => item.Id)</th>
                    <td>@Html.DisplayFor(modelItem => item.Subject)</td>
                    @*<td>@Html.DisplayFor(modelItem => item.body)</td>*@
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-sm" onclick="loadDetails(@item.Id)" >Details</a>
                            <a class="btn btn-sm" onclick="loadEdit(@item.Id)">Edit</a>
                            <a class="btn btn-sm" onclick="loadDelete(@item.Id)">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="mx-auto" id="detailHolder">
        
    </div>
</div>
 